.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 16px;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: 100%;
    }
}
